.header__lang-link {
  margin: 0;
  position: relative;
  top: 7px;
  left: 18px;
  text-decoration-line: underline;
  margin-left: 17px;
  color: inherit;
  color: white;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-link:hover {
  opacity: .8; 
  transition-timing-function: linear; 
  transition-duration: 2s; 
}

.header__lang-link:last-child {
  text-decoration: none;
}

@media (max-width: 968px) {
  .header__lang-link {
    left: 4px;
  }
}

@media (max-width: 768px) {
  .header__lang-link {
    left: 20px;
  }
}

@media (max-width: 678px) {
  .header__lang-link {
    margin-left: 18px;
  }
}

@media (max-width: 435px) {
  .header__lang-link {
    width: 22px;
    height: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }
}

@media (max-width: 320px) {
  .header__lang-link {
    width: 22px;
    height: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    top: 4px;
  }
}
