.header__lang-link {
  width: 30px;
  height: 28px;
  margin: 0;
  margin-left: 18px;
  color: inherit;
  color: white;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-link:last-child {
  text-decoration: none;
}