.places {
  margin: 92px auto 0;
  max-width: 984px;
  width: 100%;
}

@media (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}

@media (max-width: 950px) {
  .places {
    max-width: 860px;
  }
}

@media (max-width: 890px) {
  .places {
    max-width: 720px;
  }
}

@media (max-width: 665px) {
  .places {
    max-width: 415px;
  }
}

@media (max-width: 435px) {
  .places {
    max-width: 320px;
  }
}

@media (max-width: 320px) {
  .places {
    margin: 64px 0 66px;
  }
}
