.places {
  margin-top: 92px;
  margin-left: 148px;
  max-width: 984px;
  width: 100%;
}

@media (max-width: 1150px) {
  .places {
    margin-left: 70px;
    max-width: 850px;
  }
}

@media (max-width: 1024px) {
  .places {
    margin-left: 50px;
    max-width: 928px;
  }
}

@media (max-width: 996px) {
  .places {
    max-width: 800px;
  }
}

@media (max-width: 890px) {
  .places {
    max-width: 720px;
    margin-left: 24px;
  }
}

@media (max-width: 762px) {
  .places {
    max-width: 500px;
  }
}

@media (max-width: 665px) {
  .places {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 435px) {
  .places {
    max-width: 320px;
  }
}

@media (max-width: 320px) {
  .places {
    margin: 64px 0 42px;
  }
}
