.place {
margin: 0;
display: grid;
align-content: flex-end;
grid-template-columns: repeat(2, 492px);
grid-template-rows: repeat(3, auto);
grid-template-areas: 
"title website"
"image paragraph"
"image paragraph";
color: white;
align-items:flex-end;
row-gap: 48px;
margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}

@media (max-width: 320px) {
  .place {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
    "title"
    "wibsite"
    "image"
    "paragraph"
    "paragraph";
    margin-left: 0;
    margin-right: 0;
  }
}