.cover__subtitle {
  width: 360px;
  height: 66px;
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  position: absolute;
  top: 429px;
  left: 412px;
  z-index: 1;
}

@media (max-width: 1024px) {
  .cover__subtitle {
    top: 379px;
    left: 332px;
  }
}

@media (max-width: 768px) {
  .cover__subtitle {
    top: 299px;
    left: 204px;
  }
}

@media (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    width: 288px;
    top: 119px;
    left: 16px;
  }
}