.cover__subtitle {
  max-width: 380px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  position: relative;
}

@media (max-width: 665px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 240px;
  }
}

@media (max-width: 320px) {
  .cover__subtitle {
    max-width: 276px;
    margin-bottom: 8px;
  }
}
