.header {
  max-width: 1184px;
  width: 100%;
  margin: 28px auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .header {
    max-width: 720px;
  }
}

/* @media (max-width: 435px) {
  .header {
    margin: 16px 28px 0;
  }
} */

@media (max-width: 320px) {
  .header {
    max-width: 288px;
    margin-top: 16px;
  }
}
