.footer__link {
  text-decoration: none;
  color: inherit;
  margin: 0;
  position: relative;
  left: 48px;
  bottom: 24px;
  margin-right: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}