.cover__image {
  width: 1184px;
  margin: 0;
  opacity: .8;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.cover__image:hover {
  color: #2A2C2F;
  opacity: .3;
}