.lead__caption {
  margin-top: 8px;
  margin-left: 132px;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media (max-width: 1024px) { 
  .lead__caption {
    margin-left: 32px;
  }
  }

  @media (max-width: 930px) { 
    .lead__caption {
    margin: 0 24px;
    }
    }

  @media (max-width: 768px) { 
    .lead__caption {
      margin: 6px 24px;
    }
    }

@media (max-width: 320px) { 
  .lead__caption {
    margin: 8px 16px 0;
  }
  }