.cover__title {
  max-width: 540px;
  width: 100%;
  text-align: center;
  position: relative;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 245px auto 0px;
  text-decoration: none;
  color: inherit;
}

.cover__title:hover {
  opacity: .8; 
  transition-timing-function: linear; 
  transition-duration: 2s; 
}

@media (max-width: 1024px) {
  .cover__title {
    margin-top: 195px;
    margin-left: 240px;
  }
}

@media (max-width: 1023px) {
  .cover__title {
    margin: 170px auto 20px;
  }
}

@media (max-width: 768px) {
  .cover__title {
    margin: 0;
    margin-top: 116px;
    margin-left: 114px;
  }
}

@media (max-width: 766px) {
  .cover__title {
    margin: 0;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 665px) {
  .cover__title {
    max-width: 350px;
    font-size: 45px;
    line-height: 46px;
    margin-top: 80px;
  }
}

@media (max-width: 472px) {
  .cover__title {
    margin-top: 40px;
    font-size: 32px;
    line-height: 35px;
  }
}

@media (max-width: 320px) {
  .cover__title {
    margin-top: 38px;
    margin-left: 34px;
    width: 250px;
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
  }
}
