.cover__title {
  max-width: 540px;
  margin: 0 auto 30px;
  width: 100%;
  text-align: center;
  position: relative;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-decoration: none;
  color: inherit;
}

.cover__title:hover {
  opacity: 0.8;
  transition-timing-function: linear;
  transition-duration: 2s;
}

@media (max-width: 1024px) {
  .cover__title {
  }
}

@media (max-width: 768px) {
  .cover__title {
  }
}

@media (max-width: 665px) {
  .cover__title {
    max-width: 350px;
    font-size: 45px;
    line-height: 46px;
  }
}

@media (max-width: 472px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}

@media (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    margin-bottom: 0;
  }
}
