.place__paragraph {
  grid-area: paragraph;
  max-width: 520px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 22px;
  align-self: start;
}

@media (max-width: 1024px) {
  .place__paragraph {
    margin-bottom: 18px;
  }
}

@media (max-width: 984px) {
  .place__paragraph {
    max-width: 370px;
  }
}

@media (max-width: 768px) {
  .place__paragraph {
    max-width: 350px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 24px;
  }
}

@media (max-width: 320px) {
  .place__paragraph {
    margin: 0;
    margin-top: 16px;
    max-width: 288px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
}