.place__paragraph {
  grid-area: paragraph;
  max-width: 520px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 22px;
  align-self: start;
}

@media (max-width: 1024px) {
  .place__paragraph {
    max-width: 520px;
    margin-bottom: 18px;
  }
}

@media (max-width: 906px) {
  .place__paragraph {
    max-width: 280px;
  }
}

@media (max-width: 768px) {
  .place__paragraph {
    width: 352px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 320px) {
  .place__paragraph {
    width: 288px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
}

