.footer {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 47px;
  margin-top: 56px;
  margin-bottom: 24px;
}

@media (max-width: 1024px) {
  .footer {
    margin-top: 78px;
    margin-left: 48px;
    margin-bottom: 24px;
  }
}

@media (max-width: 768px) {
  .footer {
    margin: 76px 0 22px 24px;
  }
}

@media (max-width: 760px) {
  .footer {
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;
  }
}

@media (max-width: 320px) {
  .footer {
    margin-top: 68px;
  }
}
